/*
 * Global pages styles
 */

.group {
  margin-top:40px;
}

.left.area {
  width:70%;
  float:left;
}

.right.area {
  float:right;
  width:30%;
  background:#eee;
  padding:0 20px 20px;
}

.title.area {
  border-bottom:2px solid #ccc;
  margin-bottom:20px;
  position: relative;
}

.title.area .buttons {
  position: absolute;
  right:0;
  top:0;
  display: inline;
}

.warning {
  color:orangered;
}

.info {
  font-style:italic;
  color:#555;
}


/*
 * Global modals styles (specific styles are in partials)
 */

.modal .modal-body {
  text-align:center;
}

.modal .modal-footer {
  display:block;
  margin:0 auto;
}

.modal select {
  display:block;
  margin:0 auto;
}

.modal a.close,
.modal a.close:hover {
  text-shadow: none;
  border:none;
}

.modal div.ajax-errors,
.modal label.error {
	width:max-content;
	display: block;
	margin:0 auto;
	color:red;
	border:1px solid red;
}

.modal .hidden {
  display: none;
}

.modal-open {
   overflow: scroll;
}


/*
 * Global form styles
 */

 form label.error {
    color:red;
    display: block;
 }


/*
 * View carts page
 */

.carts.view a {
  display: block;
  width:max-content;
}

.carts.view .cart {
  padding: 10px;
  margin: 10px 0;
}


/*
 * View a cart page
 */

.cart.view .item {
  padding: 10px;
  margin: 10px 0;
}

.cart.view .description {
  clear:both;
  background:#eee;
  padding:20px;
  margin-bottom:20px;
}

.cart.view .pagination-links {
  float:left;
  width:100%;
}

.cart.view .item {
  padding:0;
  margin:20px 0;
}

.cart.view .remove {
  display:block;
  width:max-content;
  color:black;
}


/*
 * Edit cart page
 */

.cart.edit a.remove-note {
    float:right;
}

.cart.edit a.remove-note {
  color:orangered;
}

.cart.edit .notes .note:first-of-type a.remove-note {
  visibility: hidden;
}

.cart.edit .tags {
  margin-top:30px;
}