/*
 * Global pages styles
 */

.group {
  margin-top:40px;
}

/*
 * Global modals styles (specific styles are in partials)
 */

.modal .modal-body {
  text-align:center;
}

.modal .modal-footer {
  display:block;
  margin:0 auto;
}

.modal select {
  display:block;
  margin:0 auto;
}

.modal a.close,
.modal a.close:hover {
  text-shadow: none;
  border:none;
}

.modal div.ajax-errors,
.modal label.error {
	width:max-content;
	display: block;
	margin:0 auto;
	color:red;
	border:1px solid red;
}

.modal .hidden {
  display: none;
}

.modal-open {
   overflow: scroll;
}


/*
 * Global form styles
 */

 form label.error {
    color:red;
    display: block;
 }


/*
 * View carts page
 */

.carts.view a {
  display: block;
  width:max-content;
  border:none;
  text-decoration: none;
}

.carts.view .cart {
  padding: 10px;
  margin: 10px 0;
}


/*
 * View a cart page
 */

.cart.view a {
  display: block;
  border:none;
  text-decoration: none;
}

.cart.view .item {
  padding: 10px;
  margin: 10px 0;
}



/*
 * Edit cart page
 */

.cart.edit .buttons {
  margin-top:30px;
}

.cart.edit a.remove-note {
    float:right;
}

.cart.edit a.remove-note {
  color:orangered;
}

.cart.edit .notes .note:first-of-type a.remove-note {
  visibility: hidden;
}

.cart.edit .tags {
  margin-top:30px;
}